<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679003613374-ki3r3n3em1fale7cf5nrf4nif11j8bri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679003613374-ki3r3n3em1fale7cf5nrf4nif11j8bri</string>
	<key>API_KEY</key>
	<string>AIzaSyAULgbg5MaKZ7Mb3UwJPS8O3uUynrOMhR0</string>
	<key>GCM_SENDER_ID</key>
	<string>679003613374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dongyunyanjiusuo.cs354Project</string>
	<key>PROJECT_ID</key>
	<string>cs354finalproject-308d4</string>
	<key>STORAGE_BUCKET</key>
	<string>cs354finalproject-308d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679003613374:ios:e280a73cd949e20a03d6ef</string>
</dict>
</plist>